<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container">
        <form #formInformacionPersonal="ngForm">
          <div class="divisorSolicitud">
            <p>Datos Personales</p>
          </div>
          <ion-row>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Apellido Paterno</ion-label>
                <ion-input type="text" name="apellidoPaterno" [(ngModel)]="personalInformation.apellidoPaterno"
                  required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Apellido Materno</ion-label>
                <ion-input type="text" name="apellidoMaterno" [(ngModel)]="personalInformation.apellidoMaterno"
                  required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Nombre</ion-label>
                <ion-input type="text" name="nombre" [(ngModel)]="personalInformation.nombre" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <span class="labelForm" style="padding-top: 9px; padding-bottom: 5px;">Fecha de Nacimiento</span>
                <ion-datetime name="fechaNacimiento" [(ngModel)]="personalInformation.fechaNacimiento"
                  placeholder="DD-MM-YYYY" displayFormat="DD-MMM-YYYY" style="margin-top: 15px;">
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">CURP</ion-label>
                <ion-input type="text" name="CURP" [(ngModel)]="personalInformation.CURP" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">RFC</ion-label>
                <ion-input type="text" name="RFC" [(ngModel)]="personalInformation.RFC" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Edad</ion-label>
                <ion-input type="number" name="edad" [(ngModel)]="personalInformation.edad" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Estado de Nacimiento</span>
                <ion-select name="estadoNacimiento" [(ngModel)]="personalInformation.estadoNacimiento"
                  class="inputPersonal" placeholder="Seleccione el Estado" style="width: 100%;">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Genero</span>
                <ion-select name="genero" [(ngModel)]="personalInformation.genero"
                  class="inputPersonal" placeholder="Seleccione el genero" style="width: 100%;">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Email</ion-label>
                <ion-input type="email" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <div class="divisorSolicitud">
            <p>Datos Personales - Direccion</p>
          </div>
          <ion-row style="margin-bottom: 70px;">
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Calle y numero</ion-label>
                <ion-input type="text" name="calleNumero" [(ngModel)]="personalInformation.calleNumero" required>
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-row style="margin-top: 0px; padding-top: 0px;">
                <ion-col size="6" style="margin-top: 0px; padding-top: 0px;">
                  <ion-item lines="full">
                    <ion-label position="floating" style="color: gray;">CP</ion-label>
                    <ion-input type="number" name="CP" [(ngModel)]="personalInformation.CP" required></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="6" style="margin: auto;">
                  <img src="../../../assets/img/search.svg" (click)="obtenerDatosCP()" width="50px" />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Colonia</span>
                <ion-select class="inputPersonal" name="colonia" [(ngModel)]="personalInformation.colonia"
                  placeholder="Seleccione la colonia" style="width: 100%;" disabled="{{isDisabled}}">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Ciudad</span>
                <ion-select class="inputPersonal" name="ciudad" [(ngModel)]="personalInformation.ciudad"
                  placeholder="Seleccione la ciudad" style="width: 100%;" disabled="{{isDisabled}}">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Delegacion / Municipio</span>
                <ion-select class="inputPersonal" name="municipio" [(ngModel)]="personalInformation.municipio"
                  placeholder="Seleccione la delegacion" style="width: 100%;" disabled="{{isDisabled}}">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Estado</span>
                <ion-select class="inputPersonal" name="estado" [(ngModel)]="personalInformation.estado"
                  placeholder="Seleccione el estado" style="width: 100%;" disabled="{{isDisabled}}">
                  <ion-select-option value=1>Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="guardarPersonalInformation()">
              <img src="../../assets/img/save_white.svg" class="btnSave">
            </ion-fab-button>
          </ion-fab>
        </form>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0">
    </ion-col>
  </ion-row>
</ion-content>