.divisorSolicitud{
    background-color: #eb445a;
    height: 2ch;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.labelForm{
    font-size: small;
    color: gray;
}

.btnSave{
    margin: 1ch;
}