<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container">
        <form>
          <div class="divisorSolicitud">
            <p>Datos Personales - Cuestionario Medico</p>
          </div>
          <ion-row>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-row style="margin: 0px; padding: 0px;">
                <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style="margin: 0px; padding: 0px;">
                  <ion-item lines="full">
                    <ion-label position="floating" style="color: gray;">Peso</ion-label>
                    <ion-input type="text" required></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style="margin: 0px; padding: 0px;">
                  <ion-item lines="full" style="padding-right: 10px; margin-top: 7px; text-align: left;">
                    <ion-label style="color: gray;">KG</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style="margin: 0px; padding: 0px;">
                  <ion-item lines="full">
                    <ion-label position="floating" style="color: gray;">Estatura</ion-label>
                    <ion-input type="text" required></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style="margin: 0px; padding: 0px;">
                  <ion-item lines="full" style="padding-right: 10px; margin-top: 7px; text-align: left;">
                    <ion-label style="color: gray;">cm</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="margin-left: 15px;">
              <ion-label>Se le ha diagnosticado o ha sido tratado por:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">a) Infarto, angina de pecho, trastornos de válvulas cardiacas, soplo y/o
                cualquier otro problema cardíaco y/o padece o ha padecido de hipertensión o hipotensión
                arterial?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">b) Convulsiones y/o epilepsias, derrame cerebral, esclerosis cualquier otro
                problema cerebral o del sistema nervioso?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">c) Tumores malignos (cáncer), leucemia, melanoma o linfoma?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">d) Cualquier enfermedad renal y/o trastorno hepático?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">e) Asma, enfisema pulmonar, tuberculosis y/o cualquier otra enfermedad
                pulmonar?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">f) SIDA, resultados positivos en la prueba de VIH, Lupus?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">g) Diabetes y/o por niveles elevados de azúcar en la sangre, enfermedades
                tiroideas (excepto hipotiroidismo) y/o cualquier problema endocrino?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">h) Trastornos de columna vertebral, enfermedades de los huesos (excepto fractura
                de extremidades), de oídos o de ojos (excepto miopía, astigmatismo o hipermetropía) o de la
                sangre?.</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">g) Diabetes y/o por niveles elevados de azúcar en la sangre, enfermedades
                tiroideas (excepto hipotiroidismo) y/o cualquier problema endocrino?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">3.- ¿A la fecha de firma de este cuestionario médico, tiene el conocimiento de
                tener programada alguna intervención quirúrgica u hospitalización o proyectada alguna cita para
                practicar pruebas médicas o ya le fueron practicadas para la detección o sospecha de alguna enfermedad
                de la que aún no tenga el diagnóstico exacto?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">4.- ¿Tiene alguna enfermedad o limitación física (como la falta de un miembro o algún tipo de invalidez) que le impida o pudiera impedir en el futuro el desempeñar su actividad, profesión u ocupación actual?</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">5.- ¿Es usted bombero, minero, obrero petrolero o trabajador en plataforma marina, o por algún motivo está usted expuesto o maneja: explosivos, armas de fuego, material biológico de riesgo, sustancias químicas peligrosas, maquinaria pesada, maquinaria ligera de riesgo, radiaciones, alto voltaje, riesgo por altura, transporte en motocicleta o actividades aéreas?,</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">6.- ¿Practica de manera profesional algún deporte de alto riesgo y/o planea practicarlo en los próximos 12 meses? Se consideran deportes de alto riesgo: carreras de autos, motociclismo, motonáutica, alpinismo, buceo, espeleología, montañismo, paracaidismo, vuelo de ala delta, esquí en agua o nieve, rafting o cualquier similar.</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 70px;">
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="padding-left: 17px; padding-right: 10px;">
              <span class="labelFormCM">CLÁUSULA DE CARÁCTER GENERAL CONSENTIMIENTO DE DATOS PERSONALES De conformidad con
                la Ley Federal de Protección de Datos Personales en Posesión de Particulares y su Reglamento y enterado
                del alcance del aviso de privacidad, autorizo expresamente para que los datos personales, sensibles y
                financieros o patrimoniales proporcionados, puedan ser utilizados por HSBC Seguros, S.A. de C.V., Grupo
                Financiero HSBC, o por cualquiera de las empresas afiliadas y subsidiarias del Grupo HSBC, para los
                fines descritos, en el aviso de privacidad. Así mismo manifiesto que HSBC puso a mi disposición su aviso
                de privacidad, el cual declaro conocer y aceptar en todos sus términos.</span>
            </ion-col>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item lines="full">
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">SI</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
                <ion-col sizeLg="1" sizeMd="2" sizeXs="2" style="margin: 0px; padding: 0px;">
                  <ion-label style="color: gray;">NO</ion-label>
                </ion-col>
                <ion-col sizeLg="2" sizeMd="4" sizeXs="4" style="margin: 0px; padding: 0px;">
                  <ion-checkbox color="danger"></ion-checkbox>
                </ion-col>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="guardarCuestionarioMedico()">
              <img src="../../assets/img/save_white.svg" class="btnSave">
            </ion-fab-button>
          </ion-fab>
        </form>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0">
    </ion-col>
  </ion-row>
</ion-content>