<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container" style="margin-left: 15px; margin-right: 15px;">
        <h2 style="color: #134279; text-align: center; font-weight: 700;">Menu de productos</h2>
        <hr style="height:1px;border-width:0;color:#77D353;background-color:#77D353">
        <ion-list>
          <ion-row *ngFor="let item of menuProductos" style="margin: 10px;">
            <ion-col size="10">
              <ion-label style="color: #2898BF; font-weight: bold;">{{item.text}}</ion-label>
            </ion-col>
            <ion-col>
              <div (click)="addProduct(item)" style="background-color: #2898BF; width: 30px; height: 30px; margin: auto;">
                <img src="../../../assets/img/add_white.svg" width="40px" />
              </div>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
  </ion-row>
</ion-content>