<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>

<ion-router-outlet id="main"></ion-router-outlet>
<ion-content>
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container" style="margin-left: 15px; margin-right: 15px;">
        <ion-row>
          <ion-col sizeXl="3" sizeLg="12" sizeMd="12" sizeXs="12">
          </ion-col>
          <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeXs="12">
            <button class="btn" (click)="nuevaSolicitud()">Nueva solicitud</button>
          </ion-col>
          <ion-col sizeXl="3" sizeLg="6" sizeMd="6" sizeXs="12">
            <button class="btn btn2" (click)="verSolicitudes()">Ver solicitudes</button>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
  </ion-row>
</ion-content>