.divisorSolicitud{
    background-color: #eb445a;
    height: 2ch;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.labelForm{
    font-size: small;
    color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
}

.btnSave{
    margin: 1ch;
}

 .inputPersonal{
    position: absolute;
    top: 9px;
 }

 .lblCheckPersonal{
    position: absolute;
    top: 2px;
 }