<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container">
        <form>
          <div class="divisorSolicitud">
            <p>Datos Personales - Referencias personales</p>
          </div>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeXs="12" style="margin-left: 15px;">
              <ion-label>Capturar 2 referencia Familiares y 2 NO familiares</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item style="margin-top: 7px;" lines="full">
                <span class="labelForm">Tipo de referencia</span>
                <ion-select class="inputPersonal" placeholder="Selecciona el tipo de referencia" style="width: 100%;">
                  <ion-select-option value="Y">Yucatan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Apellido Paterno</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Apellido Materno</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Nombre (sin abreviaturas)</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Correo electronico</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="6">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Telefono de casa</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="0" sizeLg="0" sizeMd="0" sizeXs="6">
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="6">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Celular</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="1" sizeLg="1" sizeMd="1" sizeXs="2" style="margin-top: 7px;">
              <div style="background-color: black; width: 40px; height: 40px; margin: auto;">
                <img src="../../../assets/img/add_white.svg" width="40px" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 70px;">
            <ion-col sizeXl="4" sizeLg="3" sizeMd="3" sizeXs="0"></ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-list>
                <ion-item>
                  <h2>1.-</h2>
                  <ion-label style="margin-left: 10px;">
                    <h3>Referencia Familiar</h3>
                    <p>Jimenez Moreno Jose Alfredo</p><p>jimenez.mzt@gmail.com</p><p>669-918-2064</p><p>669-923-4567</p>
                  </ion-label>
                  <div style="margin-top: auto; margin-bottom: 10px;">
                    <img src="../../../assets/img/editar.svg" width="30px"/>
                    <img src="../../../assets/img/delete.svg" width="30px" style="margin-left: 8px;"/>
                  </div>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="guardarReferencias()">
              <img src="../../assets/img/save_white.svg" class="btnSave">
            </ion-fab-button>
          </ion-fab>
        </form>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0">
    </ion-col>
  </ion-row>
</ion-content>