.divisorSolicitud{
    background-color: #eb445a;
    height: 2ch;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.labelForm{
    font-size: small;
    color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
}

.btnSave{
    margin: 1ch;
}

.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }

 .inputPersonal{
    position: absolute;
    top: 9px;
 }

 .inputPersonalCheck{
    position: absolute;
    top: -15px;
 }

 .lblCheckPersonal{
    position: absolute;
    top: 2px;
 }
