.labelFormDocumentos{
    font-size: small;
    color: gray;
    margin-left: 17px;
    margin-bottom: 0px;
}

.inputPersonalDocumentos{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.labelFormDocumentosText{
    font-size:medium;
    color: gray;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 17px;
}

.imageEstatus2{
    height: 25px;
    position: absolute;
    top: 15px;
}

.imagenAdjuntar{
    margin: 0px;
    height: 5ch;
}