<ion-content>
	<div id="container" style="margin: 15px">
		<ion-row>
			<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
			<ion-col sizeLg="2" sizeMd="4" sizeXs="8">
				<img src="../../assets/img/creditoparati.png" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
			<ion-col sizeLg="4" sizeMd="6" sizeXs="8">
				<h1 style="font-weight: 700;">Bienvenido,</h1>
				<h5 style="color: gray;">Ingresa los datos para ingresar a la aplicacion.</h5>
			</ion-col>
		</ion-row>
		<form #formLogin="ngForm">
			<ion-row>
				<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
				<ion-col sizeLg="4" sizeMd="6" sizeXs="12">
					<ion-item lines="full">
						<ion-label position="floating" style="color: gray;">Email</ion-label>
						<ion-input type="text" name="user" [(ngModel)]="login.user" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
				<ion-col sizeLg="4" sizeMd="6" sizeXs="12">
					<ion-item lines="full">
						<ion-label position="floating" style="color: gray;">Contraseña</ion-label>
						<ion-input type="password" name="password" [(ngModel)]="login.password" minlength="8" required>
						</ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
				<ion-col sizeLg="4" sizeMd="6" sizeXs="12"
					style="padding-left: 8ch; padding-right: 8ch; padding-top: 4ch;">
					<ion-button type="submit" color="danger" (click)="iniciarSesion()" [disabled]="formLogin.invalid"
						expand="full">Ingresa
					</ion-button>
					<ion-button type="submit" color="medium" (click)="registrarNuevoUsuario()" expand="full">Registrar
					</ion-button>
				</ion-col>
			</ion-row>
			<ion-row style="text-align: center;">
				<ion-col sizeLg="4" sizeMd="3" sizeXs="12"></ion-col>
				<ion-col sizeLg="4" sizeMd="6" sizeXs="12">
					<a class="small-text" (click)="recuperarContrasena()" style="color: gray;">Olvido su contraseña ?
						Click Aqui</a>
				</ion-col>
			</ion-row>
		</form>
	</div>
</ion-content>