<ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <p>Enrolamiento Solicitud de credito</p>
</ion-toolbar>
<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <ion-row>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="10" sizeMd="12" sizeXs="12">
      <div id="container" style="margin: 15px">
        <div class="contentCenter">
          <h1>Declaracion inicial</h1>
          <p style="color: gray;">Expreso que soy cliente de CREDITO PARA Ti y que estoy iniciando un proceso de
            solicitud de credito hipotecario.</p>
        </div>
        <form>
          <ion-row>
            <ion-col sizeLg="5" sizeMd="5" sizeXs="2"></ion-col>
            <ion-col sizeLg="1" sizeMd="1" sizeXs="2">
              <ion-checkbox color="danger"></ion-checkbox>
            </ion-col>
            <ion-col sizeLg="6" sizeMd="6" sizeXs="8">
              <ion-label style="color: gray;">De acuerdo</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Email</ion-label>
                <ion-input type="email" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">confirmar email</ion-label>
                <ion-input type="email" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Numero celular</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col sizeXl="5" sizeLg="4" sizeMd="4" sizeXs="2"></ion-col>
            <ion-col sizeXl="2" sizeLg="4" sizeMd="4" sizeXs="8" style="margin-top: 2ch; margin-bottom: 2ch;">
              <ion-button type="submit" color="danger" expand="full">Enviar NIP</ion-button>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 70px;">
            <ion-col sizeXl="4" sizeLg="6" sizeMd="6" sizeXs="12">
              <ion-item lines="full">
                <ion-label position="floating" style="color: gray;">Capturar NIP</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="aceptarDeclaracionInicial()">
              <img src="../../assets/img/save_white.svg" class="btnSave">
            </ion-fab-button>
          </ion-fab>
        </form>
      </div>
    </ion-col>
    <ion-col sizeLg="1" sizeMd="0" sizeXs="0"></ion-col>
  </ion-row>
</ion-content>